extends layout

block content
	.about-font
		p.
			Greetings! My name is JiaHang Li, and I have an English nickname Tak.
			I'm from Beijing, China, and I am now studying Electrical Engineering 
			and Computer Science as an international freshman at University of 
			California at Berkeley. The expected graduation year is 2018.
		p.
			I'm very passionate about Computer Science. I've been to a few hackathons, 
			taken all the lower-division CS classes and written some side projects on 
			my own, and those were great times.
		p Here is my basic contact information:
		ul
			li Email: jiahang_li@berkeley.edu
			li Phone: +1-510-697-1809
			li Address: #2B31G 2700 Hearst Avenue
		p.
			You can also visit or follow my social media accounts by clicking the icons 
			displayed on home page.
