extends layout

block content
	h3 Skills
	h4 – 
	br

	h3 Undergraduate - University of California at Berkeley
	h4 – Courses Taken/Taking
	ul.fa-ul
		li
			i.fa.fa-li.fa-check-square
			| [A+] Computer Science 61A: Structure & Interpretation of Computer Programs
		li
			i.fa.fa-li.fa-check-square
			| [B+] Computer Science 70: Discrete Mathematics & Probability Theory
		li
			i.fa.fa-li.fa-refresh.fa-spin
			| [??] Computer Science 61B: Data Structures
		li
			i.fa.fa-li.fa-refresh.fa-spin
			| [??] Computer Science 61C: Great Ideas in Computer Architecture
		li
			i.fa.fa-li.fa-square
			| [A] M 101JS: MongoDB for Node.js Developers 
	br
	
	h3 High School - Beijing No.4
	h4 – About my high school
	ul.fa-ul
		li
			i.fa.fa-cog
			|  
			a(href="http://en.wikipedia.org/wiki/Beijing_No.4_High_School", target="_blank") Wikipedia
		li
			i.fa.fa-cog
			|  
			a(href="http://www.bhsf.cn/index.php?id=103", target="_blank") Official Website
	h4 – AP Courses Taken
	ul.fa-ul
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Calculus BC
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Physics C Mechanics
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Physics C Electricity & Magnetism
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Chemistry
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Computer Science A
		li
			i.fa.fa-li.fa-check-square
			| [4] AP Microeconomics
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Macroeconomics
		li
			i.fa.fa-li.fa-check-square
			| [5] AP Statistics
		li
			i.fa.fa-li.fa-check-square
			| [2] AP English Language & Composition
	br
	
	h3 Middle School - Beijing No.2
	br
	h3 Elementary School - DongJiaoMinXiang
	br
