extends layout

block content
	table.tbl
		tr
			td
				img#me(src="/assets/me.jpg")
			td
				table.tbl
					tr
						td
							h1#name.center Li, JiaHang(Tak)
					tr
						td
							ul.fa-ul#list
								li
									i.fa.fa-li.fa-terminal
									| Full Stack Web Developer
								li
									i.fa.fa-li.fa-graduation-cap
									| Software Engineer
								li
									i.fa.fa-li.fa-user-secret
									| Passionate Hacker
								li
									i.fa.fa-li.fa-book
									| Excited Learner
					tr
						td
							#icons.center
								a(href="https://www.facebook.com/tak.lee.370" target="_blank")
									i(class="fa fa-fw fa-facebook-square")
								a(href="https://twitter.com/LiJiaHang" target="_blank")
									i(class="fa fa-fw fa-twitter-square")
								a(href="https://www.linkedin.com/pub/jiahang-li/a4/132/11b" target="_blank")
									i(class="fa fa-fw fa-linkedin-square")
								a(href="https://github.com/TakLee96" target="_blank")
									i(class="fa fa-fw fa-github-square")
								a(href="mailto:jiahang_li@outlook.com" target="_blank")
									i(class="fa fa-fw fa-envelope-o")
								a(href="https://drive.google.com/file/d/0ByzWduryWm9FY2p6N2JoYi13Wlk/view" target="_blank")
									i(class="fa fa-fw fa-file-text-o")
	#footer.center
		| This website is hand coded by TakLee96. View the 
		a(href="https://github.com/TakLee96/jiahangli") source code
		|  on github. © 2015 JiaHang Li
