extends layout

block content
	.left
		img#me(src="/assets/me.jpg")
	.right
		h1#name.center Li, JiaHang(Tak)
		ul#list
				li Full Stack Web Developer
				li Software Engineer
				li Passionate Hacker
				li Excited Learner
		.center
			a(href="https://www.facebook.com/tak.lee.370" target="_blank")
				i(class="fa fa-fw fa-2x fa-facebook-square")
			a(href="https://twitter.com/LiJiaHang" target="_blank")
				i(class="fa fa-fw fa-2x fa-twitter-square")
			a(href="https://www.linkedin.com/pub/jiahang-li/a4/132/11b" target="_blank")
				i(class="fa fa-fw fa-2x fa-linkedin-square")
			a(href="https://github.com/TakLee96" target="_blank")
				i(class="fa fa-fw fa-2x fa-github-square")
			a(href="mailto:jiahang_li@outlook.com" target="_blank")
				i(class="fa fa-fw fa-2x fa-envelope-o")
			a(href="https://drive.google.com/file/d/0ByzWduryWm9FY2p6N2JoYi13Wlk/view" target="_blank")
				i(class="fa fa-fw fa-2x fa-laptop")
	#footer.center
		| This website is hand coded by TakLee96. View the 
		a(href="https://github.com/TakLee96/jiahangli") source code
		|  on github. © 2015 JiaHang Li
