body {
	background-image: url('/assets/bg2.jpg');
	background-size: cover;
	margin: auto;
	color: white;
	font-family: Helvetica;
	font-weight: 300;
}

.wide {
	width: 82vw;
}

.narrow {
	width: 60vw;
}

#about {
	font-size: 5vm;
}

.fadein {
	animation: fadein 3s;
	-webkit-animation: fadein 3s;
	-moz-animation: fadein 3s;
}

#active {
	font-weight: bold;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: lightslategray;
}

.center {
	text-align: center;
}

.about-font {
	font-size: 12pt;
}

.about-font > p {
	margin-top: 20px;
	margin-bottom: 20px;
}

#header {
	font-size: 3vw;
	font-family: Helvetica;
	font-weight: 100;
	margin-bottom: 2vh;
}

#header > a {
	text-decoration: none;
}

#me {
	width: 25vw;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}

#name {
	font-size: 5vw;
}

#list {
	font-size: 4vw;
}

#icons {
	font-size: 4vw;
}

#footer {
	margin: 10px;
}

.tbl {
	width: 100%;
	background-color: transparent;
}

.img-left {
	width: 29.30vw;
	margin: 1vw;
}

.img-right {
	width: 27.15vw;
	margin: 1vw;
}

.img-link {
	outline: 0;
	cursor: pointer;
}

.in-modal {
	color: black;
}

.in-modal > ul > li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-footer > a {
	text-decoration: none;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

.darken {
	animation: darken 0.5s;
	-webkit-animation: darken 0.5s;
	-moz-animation: darken 0.5s;
	opacity: 0.5;
}

@keyframes darken {
	from { opacity: 1; }
	to { opacity: 0.5; }
}

@-webkit-keyframes darken {
	from { opacity: 1; }
	to { opacity: 0.5; }
}

@-moz-keyframes darken {
	from { opacity: 1; }
	to { opacity: 0.5; }
}

.brighten {
	animation: brighten 0.5s;
	-webkit-animation: brighten 0.5s;
	-moz-animation: brighten 0.5s;
	opacity: 1;
}

@keyframes brighten {
	from { opacity: 0.5; }
	to { opacity: 1; }
}

@-webkit-keyframes brighten {
	from { opacity: 0.5; }
	to { opacity: 1; }
}

@-moz-keyframes brighten {
	from { opacity: 0.5; }
	to { opacity: 1; }
}
